{% load static %}
<div class="row">
    <div class="card col-3 shadow p-3 mb-5 bg-white rounded firstRowCol dashboardComponent">
        <div class="card-header"><h4>Last System Update</h4></div>
        <div class="card-body dashboardReadDisplay">{{ last_sys_update }}</div>
    </div>
    <div class="card col-3 shadow p-3 mb-5 bg-white rounded dashboardComponent">
        <div class="card-header"><h4>Last Ignition State</h4></div>
        <div class="card-body dashboardReadDisplay">{{ last_ignition_state }}</div>
    </div>
    <div class="card col-3 shadow p-3 mb-5 bg-white rounded dashboardComponent" id="fuelLevelDiv">
        <div class="card-header"><h4>Fuel Level</h4></div>
        <div class="card-body dashboardReadDisplay" id="fuelLevelVal">{{ last_fuel_level }}%</div>
    </div>
</div>
<div class="card col-9 shadow p-3 mb-5 bg-white rounded">
    {{ div|safe }}
</div>
<div hidden hx-get="{% url 'monitor:refresh' %}" hx-trigger="every 120s"></div>
{{script|safe}}
<script>
    fuelLevelDiv.addEventListener('load', checkFuelLevel());
    
    function checkFuelLevel(){
        const fuelLevelDiv = document.querySelector('#fuelLevelDiv');
        const fuelLevel = '{{ last_fuel_level }}';
        console.log(document.querySelector('#fuelLevel'));
        if(fuelLevel > 50.0 ){
            fuelLevelDiv.style.color = '#22e04e';
        } else if (fuelLevel >= 25.0 && fuelLevel < 50.0 ){
            fuelLevelDiv.style.color = '#ffc559';
        } else if (fuelLevel < 25.0){
            fuelLevelDiv.style.color = '#ff3333';
        }
    }
</script>